# Default values for ys1000.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

tags:
  mysql: true
  clusterpedia: true

featureGates:
  ClusterCache: true
  DataMover: false
  AmberApp: true
  Stub: true
  Archive: false
  DisasterRecovery: false
  DMAgent: true
  ImageBackup: true
  EtcdStub: false

imageBase:
  registry: registry.cn-shanghai.aliyuncs.com
  pullPolicy: Always
  tag: "release-3.2.0-latest"

image:
  registry:
  repository: jibutech/qiming-operator
  tag:

components:
  webserver:
    image:
      registry:
      repository: jibutech/webserver
      tag:
    serviceType: ClusterIP
  hookrunner:
    image:
      registry:
      repository: jibutech/hookrunner
      tag:
  operator:
    image:
      registry:
      repository: jibutech/agent-operator
      tag:
  velero:
    image:
      registry:
      repository: jibutech/velero
      tag: v1.7.0-jibu-dev-567a6b4d-20230118125816
    imageResticHelper:
      registry:
      repository: jibutech/velero-restic-restore-helper
      tag: v1.7.0
    imageInternalPlugin:
      registry:
      repository: jibutech/velero-plugin
      tag:
    plugins:
    - jibutech/velero-plugin-for-aws:v1.3.0
    - jibutech/velero-plugin-for-csi:v0.2.0-jibu-b99d08e-20221122124825
    resticPodMemRequest: 1Gi
    resticPodMemLimit: 8Gi
    resticPodCPURequest: 500m
    resticPodCPULimit: 1000m
    useRestic: true
    snapshotDisabled: false
  dataMover:
    image:
      registry:
      repository: jibutech/data-mover
      tag:
  dataVerify:
    image:
      registry:
      repository: jibutech/data-verify
      tag:
  amberApp:
    image:
      registry:
      repository: jibutech/amberapp
      tag: 0.1.1
  dmAgent:
    image:
      registry:
      repository: jibutech/dm-agent
      tag:
  resticDM:
    image:
      registry:
      repository: jibutech/restic-dm
      tag:
  portal:
    image:
      registry:
      repository: jibutech/mig-ui
      tag:
    serviceType: NodePort
  discovery:
    image:
      registry:
      repository: jibutech/mig-discovery
      tag:
  controller:
    image:
      registry:
      repository: jibutech/mig-controller
      tag:
  cron:
    image:
      registry:
      repository: jibutech/cron
      tag:
  agentStub:
    image:
      registry:
      repository: jibutech/stub
      tag:
  etcdStub:
    image:
      registry:
      repository: jibutech/etcd-stub
      tag:
  volSync:
    image:
      registry:
      repository: jibutech/volsync
      tag: 0.6.1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

migconfig:
  version: "3.1.1"
  clientName: "default"
  deploymentMode: "standalone"
  isAdminCluster: false
  UIadminPassword: "passw0rd"
  agentNamespace: qiming-backend
  selfBackupIntervalSeconds: 300

velero:
  resticPodVolumeOperationTimeout: 240m

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # hostname is default host for the ingress resource
  hostname: ys1000.local
  # path is sub-url for ys1000, default is "/"
  path: /
  pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

mysql:
  fullnameOverride: mysql
  image:
    registry: registry.cn-shanghai.aliyuncs.com
    repository: jibutech/mysql
    tag: 8.0.32
    pullPolicy: IfNotPresent
  auth:
    rootPassword: "passw0rd"
    database: webserver
  primary:
    args:
    - --binlog-expire-logs-seconds=3600
    resources:
      limits:
        cpu: 1000m
        memory: 2048Mi
      requests:
        cpu: 100m
        memory: 128Mi
    persistence:
      enabled: false
      size: 30Gi
      storageClass: ""

clusterpedia:
  persistenceMatchNode: None
  storageInstallMode: "external"
  fullnameOverride: ys

  #global:
  #  imageRegistry: ""

  apiserver:
    image:
      registry: registry.cn-shanghai.aliyuncs.com
      repository: jibutech/apiserver
      tag: v0.6.2
    resources:
      requests:
        cpu: 200m
        memory: 128Mi
      limits:
        cpu: "2"
        memory: 1Gi

  clustersynchroManager:
    image:
      registry: registry.cn-shanghai.aliyuncs.com
      repository: jibutech/clustersynchro-manager
      tag: v0.6.2
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: "1"
        memory: 2Gi
    featureGates:

      ## @param AllowSyncAllCustomResources is a feature gate for the ClusterSynchro to allow syncing of all custom resources
      ## owner: @iceber
      ## alpha: v0.3.0
      AllowSyncAllCustomResources: true

      ## @param AllowSyncAllResources is a feature gate for the ClusterSynchro to allow syncing of all resources
      ## owner: @iceber
      ## alpha: v0.3.0
      AllowSyncAllResources: true

  ## controller manager config
  controllerManager:
    # disable controller manager
    replicaCount: 0
    image:
      registry: registry.cn-shanghai.aliyuncs.com
      repository: jibutech/controller-manager
      tag: v0.6.2
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi

  hookJob:
    image:
      registry: registry.cn-shanghai.aliyuncs.com
      repository: jibutech/cloudshell
      tag: v0.4.0
      pullPolicy: IfNotPresent

  postgresql:
    enabled: false

  externalStorage:
    type: "mysql"
    host: "mysql"
    port: 3306
    user: "root"
    password: "passw0rd"
    database: "clusterpedia"
    createDatabase: true

  mysql:
    enabled: false
    image:
      registry: registry.cn-shanghai.aliyuncs.com
      repository: jibutech/mysql
      tag: 8.0.32

alarm:
  enabled: false
  labels:
    release: prometheus
  wechat:
    enabled: false
    corpID: ""
    agentID: ""
    toUser: ""
    apiSecret: ""
  webhook:
    enabled: false
