apiVersion: kubesphere.io/v1alpha1
name: ys1000
version: 4.2.0
displayName:
  zh: 云原生业务连续性管理平台
  en: YS1000
description:
  zh: 国内领先的企业级Kubernetes备份容灾商业解决方案，为企业提供核心容器应用在多云架构下的备份恢复、应用迁移及容灾保护服务。
  en: The most powerful enterprise-class Backup/Restore and Disaster Recovery solution for Kubernetes.
category: security
keywords:
  - Backup
  - Migration
  - Disaster Recovery
  - 备份
  - 容灾
  - 迁移
home: https://www.jibudata.com/cpjs
sources:
  - https://github.com/jibutech/helm-charts/tree/main/charts/ys1000-kse
kubeVersion: ">=1.18.0-0"
ksVersion: ">=4.0.0-0"
maintainers:
  - name: "Jibu Tech"
    email: "support@jibudata.com"
    url: "https://www.jibudata.com"
provider:
  zh:
    name: "上海骥步科技有限公司"
    email: "support@jibudata.com"
    url: "https://www.jibudata.com"
  en:
    name: "Jibu Tech"
    email: "support@jibudata.com"
    url: "https://www.jibudata.com"
icon: https://ks-extension.pek3b.qingstor.com/extensions/ys1000/favicon.svg
screenshots:
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/dashboard.jpg
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/import-cluster.png
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/add-storage.png
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/backupjob.png
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/backupjob-volumes.png
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/restoreplan.png
  - https://ks-extension.pek3b.qingstor.com/extensions/ys1000/dr-instance-operations.png
dependencies:
  - name: ys1000
    repository: https://jibutech.github.io/helm-charts/
    version: 4.2.0
    tags:
      - extension
  - name: frontend
    version: 4.2.0
    tags:
      - extension
      - frontend
# installationMode describes how to install subcharts, it can be HostOnly or Multicluster.
# In Multicluster mode, the subchart with tag `extension` will only be deployed to the host cluster,
# and the subchart with tag `agent` will be deployed to all selected clusters.
installationMode: HostOnly
# Custom namespace example: If not specified, it will be installed in the namespace named extension-{name}.
#namespace: ""
# external dependencies example
#externalDependencies:
#  - name: a
#    type: extension
#    version: ">= 2.6.0"
#    required: true
#  - name: b
#    type: extension
#    version: ">= 2.2.0"
#    required: true

images:
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/qiming-operator:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/webserver:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/hookrunner:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/agent-operator:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero:v1.7.0-jibu-dev-338a2228-20250715041149
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero:v1.7.0-jibu-dev-338a2228-20250715041149-snapshotv1beta1
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero-plugin-for-csi:v0.2.1-jibu-89b6bd8-20231218024225
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero-plugin-for-csi:v0.2.1-jibu-89b6bd8-20231218024225-snapshotv1beta1
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero-restic-restore-helper:v1.7.0
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero-plugin-for-aws:v1.3.0-jibu-f64cbb6-20240124093130
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero-plugin-alibabacloud:v1.2.1-jibu-dev-2373ba8-20240229150839
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/ysutl-mysql-5-7:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/ysutl-mysql-8-0:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/velero-plugin:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/data-verify:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/amberapp:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/dm-agent:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/restic-dm:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/mig-ui:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/mig-controller:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/cron:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/stub:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/etcd-stub:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/volsync:0.8.1-jibu
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/dr-initcontainer:0.2.0
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/imagepuller:0.1.0
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/apphook-worker:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/helm-tool:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/helm-hook:release-4.2.0-latest
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/mysql:8.0.35-debian-11-r2
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/os-shell:11-debian-11-r93
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/mysqld-exporter:0.15.1-debian-11-r0
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/apiserver:v0.7.2
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/clustersynchro-manager:v0.7.2
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/controller-manager:v0.7.2
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/cloudshell:v0.4.0
  - jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000/dex:1.0.0
