apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mysql.fullname" . }}
  labels:
    {{- include "mysql.labels" . | nindent 4 }}
type: Opaque
stringData:
  mysql-root-password: {{ .Values.auth.rootPassword }}
  mysql-password: {{ .Values.auth.password }}
